<header class="main-header">
  <!-- Header Top One-->
  <div class="header-top-one">
      <div class="auto-container">
          <div class="clearfix">

              <!--Top Left-->
              <div class="top-left top-links">
                  <ul class="clearfix">
                      <li>
                          <span class="icon fa fa-phone"></span>
                          <a href="#">1800 123 4567 - 1800 123 4568</a>
                      </li>
                      <li>
                          <span class="icon fa fa-envelope-o"></span>
                          <a href="#">info@universalhaven.com</a>
                      </li>
                  </ul>
              </div>

              <!--Top Right-->
              <div class="top-right">
                  <div class="social-icon">
                      <a href="#">
                          <span class="fa fa-facebook"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-google-plus"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-youtube"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-instagram"></span>
                      </a>
                  </div>
              </div>

          </div>

      </div>
  </div>
  <!-- Header Top One End -->

  <!-- Header Lower -->
  <div class="header-lower">
      <div class="main-box">
          <div class="auto-container">
              <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box">
                      <div class="logo">
                          <a href="index.html">
                              <img style="width:140px;height:140px;" src="assets/images/logo2.png" alt="">
                          </a>
                      </div>
                  </div>

                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>

                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                  <li>
                                      <a class="current" href="#">Home</a>
                                  </li>

                                  <li>
                                      <a href="about-us.html">Fundraising events</a>
                                  </li>
                                  <li>
                                      <a href="services.html">Call for help</a>
                                  </li>
                                  <li>
                                      <a href="services.html">Become a volunteer</a>
                                  </li>

                                  <li>
                                    <a routerLink="home" routerLinkActive="active">Crisis Center</a>
                                      <a >Contact Us</a>
                                  </li>

                              </ul>
                          </div>
                      </nav>
                      <!-- Main Menu End-->

                      <!--Donate Button-->
                      <div class="don-btn-outer">
                          <a href="donate.html" class="theme-btn donate-btn">Donate Now</a>
                      </div>

                  </div>
                  <!--Nav Outer End-->

              </div>
          </div>
      </div>
  </div>

  <!--Sticky Header-->
  <div class="sticky-header">
      <div class="auto-container clearfix">
          <!--Logo-->
          <div class="logo pull-left">
              <a href="index.html" class="img-responsive">
                  <img src="assets/images/logo2.png" style="width:60px;height:60px" alt="" title="">
              </a>
          </div>

          <!--Right Col-->
          <div class="right-col pull-right">
              <!-- Main Menu -->
              <nav class="main-menu">
                  <div class="navbar-header">
                      <!-- Toggle Button -->
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>

                  <div class="navbar-collapse collapse clearfix">
                      <ul class="navigation clearfix">
                          <li>
                              <a class="current" href="#">Home</a>
                          </li>

                          <li>
                              <a href="about-us.html">Fundraising events</a>
                          </li>
                          <li>
                              <a href="services.html">Call for help</a>
                          </li>

                          <li>
                              <a href="services.html">Become a volunteer</a>
                          </li>

                          <li>
                              <a href="contact.html">Contact Us</a>
                          </li>

                      </ul>
                  </div>
              </nav>
              <!-- Main Menu End-->
          </div>

      </div>
  </div>
  <!--End Sticky Header-->

</header>