<section class="services-section">
  <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title">
          <h2>What We Do</h2>
          <div class="separator"></div>
          <div class="text">We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa
              <br> small part but its significance for us to help people</div>
      </div>

      <div class="row clearfix">
          <!--Service Style One-->
          <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="icon-box">
                      <span class="icon flaticon-coin-1"></span>
                  </div>
                  <h3>
                      <a href="services.html">Donation</a>
                  </h3>
                  <div class="text">
                      Donate to help those in need, and contribute to our humanitarian cause 
                      right now ! Any amount is appreciated, and sure will make a diffrence !
                  </div>
                  <a href="services.html" class="read-more">Donate now !
                      <span class="icon fa fa-angle-right"></span>
                  </a>
              </div>
          </div>

          <!--Service Style One-->
          <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                  <div class="icon-box">
                      <span class="icon flaticon-charity"></span>
                  </div>
                  <h3>
                      <a href="services.html">VOLUNTEER</a>
                  </h3>
                  <div class="text">
                      Want to become a Red Cross Volunteer ? You must simply 
                      fill out this form and we will get in touch with you as soon as possible !
                  </div>
                  <a href="services.html" class="read-more">Apply !
                      <span class="icon fa fa-angle-right"></span>
                  </a>
              </div>
          </div>

          <!--Service Style One-->
          <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
                  <div class="icon-box">
                      <span class="icon flaticon-heart-2"></span>
                  </div>
                  <h3>
                      <a href="services.html">Fundraising</a>
                  </h3>
                  <div class="text">
                      With thousands of camps around the world, some of them may need a little 
                      contribution in order to provide better conditions for its' refugees.
                  </div>
                  <a href="services.html" class="read-more">See fundraising events
                      <span class="icon fa fa-angle-right"></span>
                  </a>
              </div>
          </div>

      </div>

      <!--Joining Box-->
      <div class="joining-box">
          <div class="inner">
              <h3>What You Can Do Here!</h3>
              <form method="post" action="contact.html">
                  <div class="form-group">
                      <input type="email" name="email" value="" placeholder="E-mail Address" required>
                      <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                  </div>
              </form>
          </div>
      </div>

  </div>
</section>