<section class="latest-causes-section">
  <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title">
          <h2>RECENT FUNDRAISING EVENTS</h2>
          <div class="separator"></div>
          <div class="text">We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa
              <br> small part but its significance for us to help people</div>
      </div>

      <div class="row clearfix">

          <!--Default Cause Box-->
          <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="image-box">
                      <div class="image">
                          <img src="assets/images/resource/featured-image-1.jpg" alt="" />
                          <div class="overlay-box">
                              <a href="causes-single.html" class="search-btn">
                                  <span class="icon fa fa-link"></span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="lower-content">
                      <h3>
                          <a href="blog-single.html">Build school for children</a>
                      </h3>
                      <div class="text">The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                          isle with gilligan.</div>

                      <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="bar-inner">
                              <div class="bar" style="width:48%;"></div>
                          </div>
                      </div>
                      <!--donate info-->
                      <div class="donate-info clearfix">
                          <div class="percentage">
                              <div class="count-box">
                                  <span class="count-text" data-speed="2000" data-stop="48">0</span>%</div>
                          </div>
                          <div class="amount raised">RAISED: $5200</div>
                          <div class="amount goal">GOAL: $12000</div>
                      </div>
                      <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                  </div>
              </div>
          </div>

          <!--Default Cause Box-->
          <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                  <div class="image-box">
                      <div class="image">
                          <img src="assets/images/resource/featured-image-2.jpg" alt="" />
                          <div class="overlay-box">
                              <a href="causes-single.html" class="search-btn">
                                  <span class="icon fa fa-link"></span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="lower-content">
                      <h3>
                          <a href="blog-single.html">Help us to send Vegetables</a>
                      </h3>
                      <div class="text">The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                          isle with gilligan.</div>

                      <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="bar-inner">
                              <div class="bar" style="width:62%;"></div>
                          </div>
                      </div>
                      <!--donate info-->
                      <div class="donate-info clearfix">
                          <div class="percentage">
                              <div class="count-box">
                                  <span class="count-text" data-speed="2000" data-stop="62">0</span>%</div>
                          </div>
                          <div class="amount raised">RAISED: $3250</div>
                          <div class="amount goal">GOAL: $8000</div>
                      </div>
                      <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                  </div>
              </div>
          </div>

          <!--Default Cause Box-->
          <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
                  <div class="image-box">
                      <div class="image">
                          <img src="assets/images/resource/featured-image-3.jpg" alt="" />
                          <div class="overlay-box">
                              <a href="causes-single.html" class="search-btn">
                                  <span class="icon fa fa-link"></span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="lower-content">
                      <h3>
                          <a href="blog-single.html">Patient and Family Support</a>
                      </h3>
                      <div class="text">The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                          isle with gilligan.</div>

                      <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="bar-inner">
                              <div class="bar" style="width:32%;"></div>
                          </div>
                      </div>
                      <!--donate info-->
                      <div class="donate-info clearfix">
                          <div class="percentage">
                              <div class="count-box">
                                  <span class="count-text" data-speed="2000" data-stop="32">0</span>%</div>
                          </div>
                          <div class="amount raised">RAISED: $7500</div>
                          <div class="amount goal">GOAL: $20000</div>
                      </div>
                      <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                  </div>
              </div>
          </div>

      </div>

  </div>
</section>