<section class="donate-section">
  <div class="auto-container">
      <div class="row clearfix">
          <!--content column-->
          <div class="content-column col-md-5 col-sm-12 col-xs-12">
              <div class="inner-box">
                  <h2>HOW
                      <br> CAN YOU HELP?</h2>
                  <div class="text">
                      A little donation is always appreciated, and will be placed in good hands ! 
                      A penny can make peoples' life easier !
                  </div>
                  <!--Select Amount-->
                  <div class="select-amount">
                      <div class="clearfix">
                          <div class="select-box">
                              <input type="radio" name="payment-group" id="radio-one">
                              <label for="radio-one">$5</label>
                          </div>
                          <div class="select-box">
                              <input type="radio" name="payment-group" id="radio-two">
                              <label for="radio-two">$10</label>
                          </div>
                          <div class="select-box">
                              <input type="radio" name="payment-group" id="radio-three" checked>
                              <label for="radio-three">$50</label>
                          </div>
                          <div class="select-box">
                              <input type="radio" name="payment-group" id="radio-four">
                              <label for="radio-four">$150</label>
                          </div>
                      </div>
                  </div>
                  <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>

              </div>
          </div>

          <!--payment column-->
          <div class="payment-column col-md-7 col-sm-12 col-xs-12">
              <div class="inner-box">
                  <!--price box-->
                  <div class="price-box">
                      <!--upper box-->
                      <div class="content">
                          <h3>Total Money donated</h3>
                          <h2>112.5 billion</h2>
                      </div>
                      <!--lower box-->
                      <div class="content">
                          <h3>Donors</h3>
                          <h2>54</h2>
                      </div>
                  </div>
                  <div class="image-box">
                      <img src="assets/images/resource/donater-1.png" alt="" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>