

<!--Main Slider-->
  <app-slider></app-slider>
<!--End Main Slider-->

<!--Services Section-->
    <app-services></app-services>
<!--End We Do Section-->

<!--Donate Section-->
  <app-homedonation></app-homedonation>
<!--End Donate Section-->

<!--Counter Section-->
  <app-homestats></app-homestats>
<!--End Counter Section-->

<!--Latest Causes Section-->
  <app-latestfundraising></app-latestfundraising>
<!--End Latest Causes Section-->

<!--Donation Section-->
  <app-homeapplicationform></app-homeapplicationform>
<!--End Donation Section-->

<!--Gallery Section-->
  <app-homecallforhelp></app-homecallforhelp>
<!--End Gallery Section-->