

<div class="page-wrapper">
  
          <!-- Preloader -->
          <div class="preloader"></div>
          <!-- Main Header -->
            <app-menu></app-menu>
          <!--End Main Header -->
          <router-outlet></router-outlet>
          
        
  
          <!--Subscribe Style One-->
          <section class="subscribe-style-one" style="background-image:url(assets/images/background/patten-1.png);">
              <div class="auto-container">
                  <div class="row clearfix">
                      <div class="column col-md-7 col-sm-6 col-xs-12">
                          <h2>SUBSCRIBE FOR NEWSLETTER</h2>
                      </div>
                      <div class="column col-md-5 col-sm-6 col-xs-12 text-right">
                            <form ngNoForm action="https://facebook.us17.list-manage.com/subscribe/post?u=b76d0895da8120c65037aaa74&amp;id=7bead1c99a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h2>Subscribe to our mailing list</h2>
                                    <div class="mc-field-group">
                                     
                                        <div class="form-group">
                                            <input type="email" value=""placeholder=" Email Address" name="EMAIL" class="required email" id="">
                                        </div>
                                        </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b76d0895da8120c65037aaa74_7bead1c99a" tabindex="-1" value=""></div>
                                    <div class="form-group">
                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="" class="button theme-btn btn-style-one"></div>
                                    </div>
                                    </div>
                              </form>
                      </div>
                  </div>
              </div>
          </section>
          <!--End Subscribe Style One-->
  
          <!--Main Footer-->
          <footer class="main-footer">
              <div class="widgets-section">
                  <div class="auto-container">
                      <div class="row clearfix">
                          <!--Footer Column-->
                          <div class="footer-column col-lg-3 col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget contact-widget">
                                  
                                  <div class="widget-content">
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</div>
                                      <ul class="contact-info">
                                          <li>
                                              <div class="icon">
                                                  <span class="flaticon-house"></span>
                                              </div>Collins Street West,121 King Street, Melbourne.</li>
                                          <li>
                                              <div class="icon">
                                                  <span class="flaticon-technology-1"></span>
                                              </div>+(11)123 456 7890, </li>
                                          <li>
                                              <div class="icon">
                                                  <span class="flaticon-envelope-1"></span>
                                              </div>info@Samara.com</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!--Footer Column-->
                          <div class="footer-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget gallery-widget">
                                  <h2>Our GALLERY</h2>
                                  <div class="widget-content">
                                      <div class="images-outer clearfix">
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-1.jpg" alt="">
                                              </a>
                                          </figure>
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-2.jpg" alt="">
                                              </a>
                                          </figure>
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-3.jpg" alt="">
                                              </a>
                                          </figure>
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-4.jpg" alt="">
                                              </a>
                                          </figure>
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-5.jpg" alt="">
                                              </a>
                                          </figure>
                                          <!--Image Box-->
                                          <figure class="image-box">
                                              <a href="assets/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                  <img src="assets/images/gallery/footer-gallery-thumb-6.jpg" alt="">
                                              </a>
                                          </figure>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--Footer Column-->
                          <div class="footer-column col-lg-5 col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget partner-widget">
                                  <h2>OUR PARTNERS</h2>
                                  <!--footer sponsors slider-->
                                  <div class="footer-sponsors-slider owl-carousel owl-theme">
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-1.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-2.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-3.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-4.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-1.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-2.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-3.png" alt="" />
                                          </a>
                                      </div>
                                      <div class="slide">
                                          <a href="#">
                                              <img src="assets/images/sponsors/footer-sponsor-4.png" alt="" />
                                          </a>
                                      </div>
                                  </div>
  
                                  <h2>NEWSLETTTER SIGN-UP</h2>
                                  <!--newsletter form-->
                                  <div class="newsletter-form">
                                      <form method="post" action="contact.html">
                                          <div class="form-group">
                                              <input type="email" name="email" value="" placeholder="Email" required>
                                              <button type="submit" class="theme-btn">Subscribe</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-bottom">
                  <div class="auto-container">
                      <div class="row clearfix">
                          <div class="column col-md-6 col-sm-6 col-xs-12">
                              <div class="copyright">&copy; 2017 Universalhaven - Undefined team All Rights Reserved</div>
                          </div>
                          <div class="column col-md-6 col-sm-6 col-xs-12">
                              <div class="footer-icon">
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                                  <a href="#">
                                      <span class="fa fa-google-plus"></span>
                                  </a>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                                  <a href="#">
                                      <span class="fa fa-youtube"></span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
          <!--End Main Footer-->
  
      </div>
      <!--End pagewrapper-->
  