<section class="donation-section" style="background-image:url(assets/images/background/2.jpg);">
  <div class="auto-container">
      <div class="row clearfix">
          <!--Content Column-->
          <div class="content-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">
                  <h2>BECOME A VOLUNTEER</h2>
                  <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group would somehow
                      form a family that is the wayThe ship set ground on the shore of this uncharted a desert
                      isle with that this group.</div>
              </div>
          </div>
          <!--Form Column-->
          <div class="form-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">

                  <!--Donate Form-->
                  <div class="donate-form">
                      <div class="form-box">
                          <form method="post" action="donate.html">
                              <div class="row clearfix">
                                  <!--Form Group-->
                                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                      <div class="field-inner">
                                          <input type="text" name="field-name" value="" placeholder="Name *" required>
                                      </div>
                                  </div>
                                  <!--Form Group-->
                                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                      <div class="field-inner">
                                          <input type="email" name="field-name" value="" placeholder="Email *" required>
                                      </div>
                                  </div>
                                  <!--Form Group-->
                                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                      <div class="field-inner">
                                          <select class="custom-select-box">
                                              <option>Gender *</option>
                                              <option>Male</option>
                                              <option>Female</option>
                                          </select>
                                      </div>
                                  </div>

                                  <!--Form Group-->
                                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                      <div class="field-inner">
                                          <select class="custom-select-box">
                                              <option>Country *</option>
                                              <option>USA</option>
                                              <option>Canada</option>
                                              <option>England</option>
                                          </select>
                                      </div>
                                  </div>

                                  <!--Form Group-->
                                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                      <div class="field-inner">
                                          <textarea placeholder="Motivation"></textarea>
                                      </div>
                                  </div>
                                  <!--Form Group-->
                                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                      <button class="theme-btn btn-style-one">Apply Now</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!--End Donate Form-->

              </div>
          </div>
      </div>
  </div>
</section>