<section class="counter-section" style="background-image:url(assets/images/background/1.jpg);">
  <div class="auto-container">
      <div class="row clearfix">
          <!--Content Column-->
          <div class="content-column col-md-5 col-sm-12 col-xs-12">
              <div class="inner-box">
                  <h3>We are served since 35 years to helpless people with trust and we are happy</h3>
                  <a href="contact.html" class="theme-btn btn-style-one">Join Us ! </a>
              </div>
          </div>
          <!--Counter Column-->
          <div class="counter-column col-md-7 col-sm-12 col-xs-12">

              <div class="fact-counter">
                  <div class="row clearfix">

                      <!--Column-->
                      <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="inner">
                              <div class="icon-box">
                                  <span class="icon flaticon-hands-holding-heart"></span>
                              </div>
                              <div class="count-outer count-box">
                                  <span class="count-text" data-speed="4000" data-stop="3500">0</span>
                              </div>
                              <h4 class="counter-title">CAUSES SOLVED</h4>
                          </div>
                      </div>

                      <!--Column-->
                      <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="inner">
                              <div class="icon-box">
                                  <span class="icon flaticon-hands"></span>
                              </div>
                              <div class="count-outer count-box">
                                  <span class="count-text" data-speed="2000" data-stop="1800">0</span>
                              </div>
                              <h4 class="counter-title">TOTAL VOLUNTEERS</h4>
                          </div>
                      </div>

                      <!--Column-->
                      <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                          <div class="inner">
                              <div class="icon-box">
                                  <span class="icon flaticon-business-3"></span>
                              </div>
                              <div class="count-outer count-box">
                                  <span class="count-text" data-speed="1500" data-stop="262">0</span>
                              </div>
                              <h4 class="counter-title">TOTAL PROJECTS</h4>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>
</section>